<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site css</title>
    <link rel="stylesheet" href="static/academias.css">
</head>
<body>
    <header>
        <img src = "static/logo.png"alt = "Logo da academia" />
    </header>

    <div >
        <nav>
            <a href="/" class="base">
                <button class = "botao" type="submit">HOME</button>
            </a>
            <a href="/servicos" class="base">
                <button class = "botao" type="submit">SERVIÇOS</button>
            </a>
            <a href="/contato" class="base">
                <button class = "botao" type="submit">CONTATO</button>
            </a>
        </nav>
    </div>

    <h1 class = "titulo1">E AÍ, ONDE VOCÊ QUER TREINAR?</h1>

    <div class="imgs">
        <img src="static/IMG1.png"class="img2" >
        <img src="static/IMG2.png"class="img3">
        <img src="static/IMG3.png"class="img4">
        <img src="static/IMG4.png"class="img5">
        <img src="static/IMG5.png"class="img6">
        <img src="static/IMG6.png"class="img8">
        <img src="static/IMG7.png"class="img9">
        <img src="static/IMG8.png"class="img10">
    </div>

    <footer>
        <img src = "static/logo.png" alt = "Logo" />
        <p>TODOS OS DIREITOS RESERVADOS</p>
    </footer>
</body>
</html>