<!DOCTYPE html>
<html lang = "pt-br" dir = "ltr">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Center FIT</title>
    <link rel = "stylesheet" href = "static/estilo.css">
</head>
<body>
    <header>
        <img src = "static/logo.png" alt = "Logo da Center FIT" />
    </header>

    <div >
        <nav>
            <a href="/academias" class="base">
                <button class="botao" type="submit">ACADEMIAS</button>
            </a>
            <a href="/servicos" class="base">
                <button class = "botao" type="submit">SERVIÇOS</button>
            </a>
            <a href="/contato" class="base">
                <button class = "botao" type="submit">CONTATO</button>
            </a>
        </nav>
    </div>

    <img class = "banner" src = "static/banner.png" alt = "Banner" />

    <h1 class = "titulo1">VENHA TREINAR NA MAIOR REDE DE ACADEMIAS DA AMÉRICA LATINA</h1>

    <img class = "planos" src = "static/planos.png" alt = "Planos" />

    <h1 class = "titulo1">EXPERIÊNCIA CENTER FIT</h1>

    <div class = "diferencial">
        <img class = "imagens" src = "static/diferencial1.png" alt = "Equipamentos de alto padrão" />
        <img class = "imagens" src = "static/diferencial2.png" alt = "Salas exclusivas de aulas coletivas" />
        <img class = "imagens" src = "static/diferencial3.png" alt = "Profissionais qualificados" />
        <img class = "imagens"  src = "static/diferencial4.png" alt = "Programas de nutrição e saúde" />
    </div>

    <form action = "/imc"  class = "base"> <!-- Formulário para enviar o número para verificação -->
         <button type = "submit" class = "botaoimc">CALCULADORA IMC</button> <!-- Botão de envio do formulário -->
    </form>

    <footer>
        <img src = "static/logo.png" alt = "Logo da Center FIT" />
        <p>TODOS OS DIREITOS RESERVADOS</p>
    </footer>
</body>
</html>