<!DOCTYPE html>
<html lang="pt-br" dir="ltr"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="static/servicos.css">
</head>
<body>
    <header>
        <img src = "static/logo.png" alt = "Logo da academia" />
    </header>

    <div >
        <nav>
            <a href="/" class="base">
                <button class = "botao" type="submit">HOME</button>
            </a>
            <a href="/academias" class="base">
                <button class = "botao" type="submit">ACADEMIAS</a></button>
            </a>
            <a href="/contato" class="base">
                <button class = "botao" type="submit">CONTATO</a></button>
            </a>
        </nav>
    </div>

    <section class="serv1">
        <h1 class="titulo1">SERVIÇOS</h1>
    </section>

    <div class = "serviços">
        <img class = "img-canva" src = "static/serviço musculação (1).png" alt = "imagem musculação" />
        <img class = "img-canva" src = "static/serviço bike 1.png" alt = "imagem zumba" />
    </div>

    <div class = "serviços1">
        <img class = "img-canva" src = "static/serviço natação 1.png" alt = "imagem natação" />
        <img class = "img-canva" src = "static/serviço yoga 1.png" alt = "imagem yoga" />
    </div>

    <footer>
        <img src = "static/logo.png" alt = "Logo" />
        <p>TODOS OS DIREITOS RESERVADOS</p>
    </footer>
</body>
</html>